.app-text { color: #585a5c !important;font-size:14px;line-height:22px; }

.kyt-hgl-container { display: flex;flex-direction: column;list-style: none;padding: 0; }
.kyt-hgl-item { display: flex;align-items: flex-start;margin-bottom: 10px; }
.kyt-hgl-icon { flex-shrink: 0;width: 25px;padding-top:3px; }
.kyt-hgl-text { flex-grow: 1;padding-left: 5px; }
a { text-decoration:none;color:#000 !important; }
a:hover { color:#c71527 !important;font-weight:bold; }
.fs16p { font-size:16px; }
.mbot15p { margin-bottom:15px; }
.mbot75p { margin-bottom:75px; }
.padLeft15p { padding-left:15px; }